/* You can add global styles to this file, and also import other style files */
body
{
    margin: 0px;
}

/*DECLARACIONES INICIALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}